@media(max-width: 1700px){
   .contact-slider{
      &__img{
         width: 100%;
      }
   }
}
@media(max-width: 1366px){
   .collection{
      grid-template-columns: repeat(3,1fr);
      &__images{
         width: 100%;
      }
   }
   .map{
      margin-top: 0;
   }
}

@media(max-width: 1200px){
   .top{
      &__slider-title{
         font-size: 62px;
         line-height: 74px;
      }
      &__slider-img{
         height: 640px;
      }
   }
   .contact-slider{
      &__img{
         height: 240px;
      }
   }
}

@media(max-width: 1040px){
   .blog{
      &__inner{
         flex-wrap: wrap;
      }
      &__items{
         max-width: 100%;
      }
      &__item-img{
         max-width: 100%;
         width: 100%;
      }
      &__blockquote{
         padding: 25px 25px;
      }
   }
   .aside{
      width: 100%;
      margin-left: 0;
      order: -1;
      margin-bottom: 50px;
   }
}

@media(max-width: 992px){
   .footer{
      &__info{
         width: 380px;
      }
   }
   .gallery{
      &__items{
         grid-gap: 10px;
      }
      &__btn{
         margin: 0;
         padding: 6px 10px;
      }
   }
   .about{
      &__text{
         padding-left: 0;
      }
      &__content{
         padding: 40px 0;
      }
   }
}

@media(max-width: 840px){
   .top{
      &__inner{
         &::after{
            height: 100%;
         }
      }
      &__slider-title{
         font-size: 45px;
         line-height: 54px;
      }
      &__slider-img{
         height: 540px;
      }
   }
   .collection{
      grid-template-columns: repeat(2,1fr);
   }
   .works-path{
      &__item{
         width: 350px;
      }
      &__item--production{
         margin-left: 50px;
      }
   }
   .contact{
      .contact__social,
      &__box,
      &__form{
         padding-left: 0;
      }
      
         
   } 
}

@media (max-width: 768px){
   .header{
      &__btn{
         display: none;
      }
   }
   .menu{
      &__list-item{
         & + .menu__list-item{
            padding-right: 0;
         }
      }
   }
   .logo{
      margin: 0;
   }
   .footer{
      &__inner{
         flex-wrap: wrap;
         justify-content: center;
      }
      &__info{
         width: 100%;
         margin-bottom: 50px;
      }
      &__info-text{
         width: 100%;
      }
      &__menu{
         margin-left: auto;
         margin-right: auto;
      }
      &__social{
         margin-left: auto;
         margin-right: auto;
      }
   }
   .new-collection{
      &__title{
         font-size: 38px;
         line-height: 46px;
      }
   }
   .top{
      &__inner{
         padding-top: 30px;
         margin-bottom: 25px;
      }
      &__slider-item{
         .top__slider-img{
            display: none;
         }
      }
      &__slider-text{
         margin-bottom: 15px;
      }
   }
   .decor{
      padding: 50px 0 55px;
      &__title{
         font-size: 50px;
         line-height: 70px;
      }
   }
   .works-path{
      &__item--measuring{
         margin-left: 100px;
      }
   }
   .gallery{
      &__btn{
         display: block;
         width: 100%;
         margin-bottom: 10px;
      }
   }
   .about{
      &__popup{
         margin: 0 15px;
      }
      &__prev{
         padding: 80px 0;
      }
   }
   .inspiration{
      &__images{
         display: none;
      }
   }
   .partners{
      &__items{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         & img:last-child{
            display: none;
         }
      }
   }
   .map{
      margin-bottom: 30px;
      iframe{
         height: 380px;
      }
   }
}

@media (max-width: 650px){
   .works-path{
      &__items-box::before,
      &__item--production::after,
      &__item--measuring::before{
         display: none;
      }
      &__items-box{
         border: none;
         flex-wrap: wrap;

      }
      &__item--measuring{
         margin-left: 0;
         padding-top: 0;
         padding-bottom: 38px;
    
      }
      &__item--production{
         margin-left: 0;
         order: 1;
      }
      &__item{
         width: 100%;
      }
   }
   .blog-box{
      &__items{
         display: block;
      }
      &__img-link{
         display: block;
      }
      &__img{
         width: 100%;
      }
      &__item{
         margin-bottom: 20px;
      }
   }
   .contact{
      &__form-input{
         width: 100%;
      }
   }
   .slick-dots li{
      margin: 0 5px; 
    }
}

@media (max-width: 540px){
   .logo{
      order: -1;
      position: relative;
      z-index: 20;
   }
   .header{
      &__inner{
         flex-wrap: wrap;
         padding-top: 40px;
      }
      &__btn-menu{
         position: relative;
         z-index: 20;
         padding: 10px;
         display: block;
         cursor: pointer;
         background-color: transparent;
         border: none;
         order: -1;
         span{
            background-color: rgb(56, 56, 56);
            width: 37px;
            height: 3px;
            border-radius: 4px;
            display: block;
            margin: 6px 0px;
         }
      }
   }
   .menu{
      padding-right: 0;
      width: 100%;
      background-color: #fff;
      position: relative;
      z-index: 16;
      text-align: center;
      transform: translateX(550px);
      transition: all 0.3s ease;
      
      &--open{
         transform: translateX(0);
         border: 15px solid transparent;
         border-bottom: none;
         margin: 0 -15px;
         border-top: none;
         box-sizing: content-box;
      }
      &__list{
         display: inline-block;

      }    

      &__list-item + .menu__list-item{
         padding-left: 0;
         
      }
      &__list-link{
         display: block;
         padding: 15px 0;
         &--active::after{
            transform: translateY(-10px);
         }
      }
   }
   .collection{
      grid-template-columns: repeat(1,1fr);
   }
   .new-collection{
      &__title{
         font-size: 28px;
         line-height: 36px;
      }
   }
  .gallery{
     &__items{
        grid-template-columns: repeat(1, 1fr);
     }
     &__item:first-child{
         grid-column: 1;
         grid-row: 1;
     }
  }
  .about{
      &__title{
         font-size: 30px;
         line-height: 48px;
     }
     &__prev-title{
         font-size: 40px;
         line-height: 48px;
      }
   }
   .inspiration{
      &__title{
         font-size: 30px;
         line-height: 48px;
      }
      &__item-text,
      &__num{
         font-size: 16px;
         line-height: 23px;
      }
      &__item-text{
         margin-right: 10px;
      }
   }
   .blog-one{
      &__comments-name,
      &__form-title,
      &__comments-text{
         font-size: 14px;
         line-height: 24px;
      }
      &__links{
          display: none;
      }
      &__tags-link{
         width: 100%;
         text-align: center;
      }
     &__form-input{
        width: 100%;
     }
   }
}

@media(max-width: 375px){
   .footer{
      justify-content: space-between;
      &__form{
         display: block;
      }
      &__social{
         margin-left: 0;
      }
      &__form-button{
         width: 100%;
         margin-left: 0;
         margin-top: 10px;
      }
   }
   
}